* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #b3edf5;
    color: rgb(88, 87, 87);
    overflow-x: hidden;
}

header {
    height: 100px;
}

main {
    flex-grow: 1;
}

.pesquisa-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pesquisa-container input {
    width: 80%;
    height: 50%;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid  #69a4ad;
    color: #69a4ad;
}

.galeria-container {
    display: flex;
    gap: 5px;
    flex-wrap: wrap; /* quando não cabe na linha, pula */
    padding: 0 15px;
    margin-top: 3%;
}

.galeria-itens {
     width: 380px;
     height: 290px;
     flex-grow: 1;
     border: 8px solid #fff;
     transition: all .5s linear;
     overflow: hidden;
}

.galeria-itens:hover {
    box-shadow: 8px 8px 8px rgb(66, 66, 66);
}

.galeria-itens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: grayscale(100%); */ /* deixa cinza */
    transition: all .5s linear;
}

.galeria-itens:hover img {
    filter: grayscale(0%);
    transform: scale(1.2) rotate(5deg);
}

.slide {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -999; /* trabalha com a profundidade, determinando se vai ficar a frente ou atrás */
    opacity: 0;
    transition: all .5s linear;
}

/* quando o slide for alvo */
.slide:target {
    z-index: 999;
    opacity: 1;
}

.slide .imagem-container {
    position: relative;
    height: 90%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide .icones {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #0007;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.slide .fechar {
    top: 0;
    right: 0;
    font-size: 1.5rem;
}

.slide .fechar:hover {
    background-color: #ff4949e5;
}

.slide .anterior {
    left: 5px;
    font-size: 2rem;
}

.slide .anterior:hover {
    background-color:  #726f6f48;
}

.slide .proximo {
    right: 5px;
    font-size: 2rem;
}

.slide .proximo:hover {
    background-color: #726f6f48;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


footer {
    height: 50px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}